<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BuildConfiguration" value="prod" />
  <add key="ApplicationBaseUrl" value="http://executiontimeapi.com,http://localhost:777" />
  <add key="ConnectionString" value="mongodb://username:password@executiontime-mongo-01:27017,executiontime-mongo-02:27017,executiontime-mongo-03:27017/?connect=replicaset&amp;replicaSet=executiontimeset&amp;readPreference=secondary" />
</appSettings>